<!DOCTYPE html>

<html lagn="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title"></th:block>

<th:block layout:fragment="custom"></th:block>


<th:block th:replace="fragments/config :: configFragment"></th:block>

<th:block th:replace="fragments/header :: headerFragment"></th:block>


<th:block th:replace="fragments/nav_ad :: nav_adFragment"></th:block>

<th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

<div class="container">
    <th:block layout:fragment="content"></th:block>

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</div>


</html>