<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="nav_adFragment">

    <!--    <ins class="kakao_ad_area" data-ad-height="50"-->
    <!--         data-ad-onfail="callBackFunc"-->
    <!--         data-ad-unit="DAN-qe74ko7x7xo2"-->
    <!--         data-ad-width="320"-->
    <!--         style="display:none;"></ins>-->
    <!--    <script async src="//t1.daumcdn.net/kas/static/ba.min.js" type="text/javascript"></script>-->

    <!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--    <script type="text/javascript">-->
    <!--        function callBackFunc(elm) {-->
    <!--            text = [];-->
    <!--            text.push('<ins class="adsbygoogle"');-->
    <!--            text.push('style="display:inline-block;width:160px;height:600px"');-->
    <!--            text.push('data-ad-client="ca-pub-2353073097361656"');-->
    <!--            text.push('data-ad-slot="3457799673"></ins>');-->

    <!--            elm.innerHTML = text.join(' ');-->
    <!--            (adsbygoogle = window.adsbygoogle || []).push({});-->
    <!--        }-->
    <!--    </script>-->

</th:block>

</html>