<!DOCTYPE html>

<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title> 노트북 </title>
</th:block>


<th:block layout:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/review.css}">
    <script th:src="@{/js/review.js}"></script>
</th:block>


<th:block layout:fragment="content">

    <div class="slide">
        <div>
            <label class="radio__label" for="model">모델명</label>
            <input autocomplete="off" class="input-group-text" id="model" onkeyup="filter()"
                   placeholder="노트북 모델명을 작성해주세요!"
                   required
                   style="font-size: 13px" type="text">
            <th:block th:each="model : ${models}">
                <div class="ggg hidden" th:text="${model}"></div>
            </th:block>
        </div>
        <hr>
        <div>
            <label class="radio__label" for="userId">닉네임</label>
            <input autocomplete="off" class="input-group-text" id="userId" placeholder="닉네임을 작성해주세요!" required
                   type="text">
        </div>
        <div>
            <label class="radio__label" for="major">전공</label>
            <input autocomplete="off" class="input-group-text" id="major" onkeyup="filterMajor()"
                   placeholder="전공을 작성해주세요!" required type="text">
            <th:block th:each="major : ${majorTypes}">
                <div class="ttt hidden" th:text="${major}"></div>
            </th:block>
        </div>
        <div>
            <label class="radio__label" for="title">제목</label>
            <input autocomplete="off" class="input-group-text" id="title" placeholder="제목을 작성해주세요!" required
                   type="text">
        </div>
        <div>
            <label class="radio__label" for="content">내용</label>
            <textarea autocomplete="off" class="input-group-text" id="content" placeholder="후기를 작성해주세요!"
                      required style="resize: vertical" type="text"></textarea>
        </div>
        <div>
            <button class="btn-info" id="submit">제출</button>
        </div>

        <div class="main-block__radio-group">
            <div class="radio_group__radio">
                <ul id="review" style="list-style: none">

                </ul>
            </div>
        </div>
</th:block>

</html>

