<!DOCTYPE html>

<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title> 노트북 </title>
</th:block>


<th:block layout:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/review.css}">
        <script th:src="@{/js/review.js}"></script>
</th:block>


<th:block layout:fragment="content">

    <div class="slide">
        <!--        String userId, String major, String model, String title, String content-->
        <input id="userId" required type="text">
        <input id="major" required type="text">
        <input id="model" required type="text">
        <input id="title" required type="text">
        <textarea autocomplete="off" id="content" placeholder="후기를 작성해주세요!" style="width: 150px; height: 150px;"
                  type="text"></textarea>
        <button id="submit">제출</button>
    </div>


</th:block>

</html>

