<!DOCTYPE html>

<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title> 노트북 </title>
</th:block>


<th:block layout:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <script th:src="@{/js/search.js}"></script>
</th:block>


<th:block layout:fragment="content">

    <div class="slide">
        <div class="slide__sub-block">
            <img class="sub-block_logo">
            <div class="sub-block_title" data-slide-index="1"> 선택지 제목</div>
            <div class="sub-block_content" data-slide-index="1">
                <div class="sub-block__move_button">
                    <button class="move_button__type maj" th:text="${cpu_intel_require}"></button>
                    <button class="move_button__type all" th:text="${gpu_nvidia_require}"></button>
                    <button class="move_button__type gam" th:text="${cpu_amd_require}"></button>
                    <button class="move_button__type vid" th:text="${gpu_amd_require}"></button>
                    <button class="move_button__type pro" th:text="${ram}"></button>
                </div>
            </div>
        </div>

        <div class="slide__main-block">
            <div class="main-block__title" data-slide-index="1"> 전공을 선택하세요!</div>
            <div class="main-block__radio-group" data-slide-index="1">
                <div class="radio_group__radio">
                    <div class="radio__label" th:text="${notebook1.getCompany()}">인문사회계열</div>
                    <div class="radio__label" th:text="${notebook1.getModel()}">자연과학계열</div>
                    <div class="radio__label" th:text="${notebook1.getCpu().getScore()}">공학기술계열</div>
                    <div class="radio__label" th:text="${notebook1.getGpu().getScore()}"> 영상예술계열</div>
                    <div class="radio__label" th:text="${notebook1.getPrice()}">컴퓨터계열</div>
                </div>
            </div>
        </div>

        <div class="slide__main-block">
            <div class="main-block__title" data-slide-index="1"> 전공을 선택하세요!</div>
            <div class="main-block__radio-group" data-slide-index="1">
                <div class="radio_group__radio">
                    <div class="radio__label" th:text="${notebook2.getCompany()}">인문사회계열</div>
                    <div class="radio__label" th:text="${notebook2.getModel()}">자연과학계열</div>
                    <div class="radio__label" th:text="${notebook2.getCpu().getScore()}">공학기술계열</div>
                    <div class="radio__label" th:text="${notebook2.getGpu().getScore()}"> 영상예술계열</div>
                    <div class="radio__label" th:text="${notebook2.getPrice()}">컴퓨터계열</div>
                </div>
            </div>
        </div>
    </div>


</th:block>

</html>

