<!DOCTYPE html>

<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title> 노트북 </title>
</th:block>


<th:block layout:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <script th:src="@{/js/search.js}"></script>
</th:block>


<th:block layout:fragment="content">

    <div th:text="${all.getSize()}"></div>
    <div>추천 요구사양</div>
    <table class="table table-striped article-list bbs">
        <tr class="category">
            <td style="text-decoration: none; text-align: center;">cpu</td>
            <td style="text-decoration: none; text-align: center;">gpu</td>
            <td style="text-decoration: none; text-align: center;">ram</td>
        </tr>
        <tr>
            <td style="text-decoration: none; text-align: center;" th:text="${cpu_intel_require}"></td>
            <td style="text-decoration: none; text-align: center;" th:text="${gpu_nvidia_require}"></td>
            <td rowspan="2" style="text-decoration: none; text-align: center;" th:text="${ram}"></td>
        </tr>
        <tr>
            <td style="text-decoration: none; text-align: center;" th:text="${cpu_amd_require}"></td>
            <td style="text-decoration: none; text-align: center;" th:text="${gpu_amd_require}"></td>
        </tr>
    </table>


    <div class="row">
        <table class="table table-striped article-list bbs" id="article-list">
            <thead>
            <tr class="category">
                <th style="text-decoration: none; text-align: center;">비교</th>
                <th style="text-decoration: none; text-align: center;">모델1</th>
                <th style="text-decoration: none; text-align: center;">모델2</th>
            </tr>
            </thead>
            <tr>
                <td>회사</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getCompany()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getCompany()}"></td>
            </tr>
            <tr>
                <td>모델명</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getModel()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getModel()}"></td>
            </tr>

            <tr>
                <td>CPU</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getCpu()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getCpu()}"></td>
            </tr>

            <tr>
                <td>GPU</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getGpu()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getGpu()}"></td>
            </tr>

            <tr>
                <td>가격</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getPrice()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getPrice()}"></td>
            </tr>
            <tr>
                <td>무게</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getWeight()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getWeight()}"></td>
            </tr>
            <tr>
                <td>램</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getRam()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getRam()}"></td>
            </tr>
            <tr>
                <td>ssd</td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook1.getSsd()}"></td>
                <td style="text-decoration: none; text-align: center;"
                    th:text="${notebook2.getSsd()}"></td>
            </tr>


            <ul class="article-list__pagination article-list__pagination--inactive" id="article-list-pagination">

            </ul>
        </table>
    </div>


</th:block>

</html>

