<!DOCTYPE html>

<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title> 노트북 </title>
</th:block>


<th:block layout:fragment="custom">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <script th:src="@{/js/search.js}"></script>
</th:block>


<th:block layout:fragment="content">

    <div class="slide">
        <div class="slide__sub-block">
            <img class="sub-block_logo">
            <div class="sub-block_title" data-slide-index="1" th:text="${'추천 사양 총 ' + notebook.size() + '개'}"></div>
            <div class="sub-block_content" data-slide-index="1">
                <div class="sub-block__move_button">
                    <button class="move_button__type purpose" th:text="${purpose}"></button>
                    <button class="move_button__type maj" th:text="${cpuIntelRequire}"></button>
                    <button class="move_button__type all" th:text="${gpuNvidiaRequire}"></button>
                    <button class="move_button__type gam" th:text="${cpuAmdRequire}"></button>
                    <button class="move_button__type vid" th:text="${gpuAmdRequire}"></button>
                    <button class="move_button__type pro" th:text="${ram}"></button>
                </div>
            </div>
        </div>

        <div class="slide__main-block hidden" th:data-slide-index="${notebooksStat.index}"
             th:each="notebooks : ${notebook }">
            <div class="main-block__title" th:text="${'추천노트북'+notebooksStat.index}"></div>
            <div class="main-block__radio-group">
                <div class="radio_group__radio">
                    <div class="radio__label" th:text="${notebooks.getCompany()}"></div>
                    <div class="radio__label" th:text="${notebooks.getModel()}"></div>
                    <div class="radio__label"
                         th:text="${notebooks.getCpu().getModel() + ' ' + notebooks.getCpu().getScore()}"></div>
                    <div class="radio__label"
                         th:text="${notebooks.getGpu().getModel() + ' ' + notebooks.getGpu().getScore()}"></div>
                    <div class="radio__label" th:text="${notebooks.getPrice()}"></div>

                    <ul class="review" style="list-style: none">

                    </ul>

                    <button class="move_button__type choose" th:data-slide-index="${notebooksStat.index}">선택하기</button>
                </div>
            </div>
        </div>

        <div class="hidden" id="main_progress">2</div>


    </div>


</th:block>

</html>

